In [46]:
import pandas as pd
import math as mt

In [85]:
data = pd.read_csv("ml-bugs.csv")
data.head()

  Species  Color  Length (mm)
0   Mobug  Brown         11.6
1   Mobug   Blue         16.3
2   Lobug   Blue         15.1
3   Lobug  Green         23.7
4   Lobug   Blue         18.4

In [86]:
data.describe(include="all")

       Species Color  Length (mm)
count       24    24    24.000000
unique       2     3          NaN
top      Lobug  Blue          NaN
freq        14    10          NaN
mean       NaN   NaN    18.070833
std        NaN   NaN     3.584323
min        NaN   NaN    11.600000
25%        NaN   NaN    14.975000
50%        NaN   NaN    18.300000
75%        NaN   NaN    20.625000
max        NaN   NaN    24.800000

In [87]:
def get_entropy(df):
    total = df["Color"].sum()
    frac_Lo = df.iloc[0,1]/total
    frac_Mo = df.iloc[1,1]/total
    
    entropy = frac_Lo * mt.log(frac_Lo,2) + frac_Mo * mt.log(frac_Mo,2)
    entropy = -1 * entropy
    
    return entropy

In [88]:
def info_gain(df_parent, df_child1, df_child2):
    info = get_entropy(df_parent) - 1/2*(get_entropy(df_child1) + get_entropy(df_child2))
    return info

In [89]:
df_parent = data.groupby("Species").count()
df_parent

         Color  Length (mm)
Species
Lobug       14           14
Mobug       10           10

In [90]:
list(data["Color"].unique())

['Brown', 'Blue', 'Green']

In [91]:
for color in list(data["Color"].unique()):
    df_Color = data[data["Color"] == color].groupby("Species").count()
    df_NColor = data[data["Color"] != color].groupby("Species").count()

    info = info_gain(df_parent, df_Color, df_NColor)
    print(f"color: {color}, info: {info}")

color: Brown, info: 0.06157292259666314
color: Blue, info: 0.0017793914066925876
color: Green, info: 0.07422969442158622

In [92]:
data_17 = data[data["Length (mm)"] < 17].groupby("Species").count()
data_N17 = data[data["Length (mm)"] >= 17].groupby("Species").count()

info_gain(df_parent, data_17, data_N17)

0.1024004686533243

In [93]:
data_20 = data[data["Length (mm)"] < 20].groupby("Species").count()
data_N20 = data[data["Length (mm)"] >= 20].groupby("Species").count()

info_gain(df_parent, data_20, data_N20)

0.18528109417543137

In [94]:
data_17

         Color  Length (mm)
Species
Lobug        3            3
Mobug        6            6

In [95]:
data_N17

         Color  Length (mm)
Species
Lobug       11           11
Mobug        4            4